:root {
    --primary: #0065fc;
    --secondary: #deebff;
    --grey: #d9d9d9;
    --background: #f2f2f2;
    --main-padding: 14px;

    --icon-size: 40px;
    --icon-size-sm : 20px;

    --border-nav-link: 4px solid var(--grey);
    --border-nav-link-active: 4px solid var(--primary);
    --card-padding: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    overflow-x: hidden !important;
}

header {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    display: flex;
}

main {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
    width: 100%;
}

ul {
    margin: 0;
    padding-left: 0;
}

ul li {
    list-style-type: none;
}

.container {
    padding: var(--main-padding);
}

/* ---------- */
.navigation {
    width: 100%;
    display: flex;
}

.nav-link {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--primary);
    border-bottom: var(--border-nav-link);
}

.nav-link-active {
    border-bottom: var(--border-nav-link-active);
}

.navigation .nav-link {

}

#logo {
    order: 1;
}

nav{
    order: 3;
}

#signup {
    order: 2;
}



/* Search bar */

#searchbar {
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.fa-map-marker-alt {

}

#searchField {
    border: none;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
}

#searchButton {
    border: none;
    border-radius: 0 15px 15px 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: var(--primary);
}

/* Filtres */

#filtersBlockWrapper {
    display: inline-block;
    margin-bottom: 1em;
}

.filterWrapper {

}

.filter {
    margin: 8px 1em 8px 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    border: 2px solid lightgrey;
}

.filter-wrapper {
    display: block;
    position: relative;
    top: -2px;
    left: -2px
}

.filter-icon {
    padding: 0;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    text-align: center;
    border-radius: 25px;
    color: var(--primary);
    background-color: var(--secondary);
}

.filter-icon:hover {
    color: #fff;
    background-color: var(--primary);
}

.filter-text {
    padding: 0 10px;
}

/* ---------- */

.fas {
    width: 100%;
    height: 100%;
}
.fa-info {
    line-height: var(--icon-size-sm);
    text-align: center;
    font-size: 12px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    color: var(--primary);
    background-color: #fff;
}

/* Cartes */

.card {
    margin-top: 16px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.card-padding {
    padding: var(--card-padding);
}

.card-horizontal {
    flex-direction: row;
}

.card-vertical {
    flex-direction: column;
}

.card-content {
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging-note .fas{
    display: inline;
}

/* Footer */

#footerWrapper {
    width: 100%;
    flex-direction: column;
}

.footer-links {
    display: block;
    flex-grow: 1;
}

.footer-links ul li {
    background-clip: content-box;
}

.footer-links ul li a {
    margin-top: 1em;
    display: inline-block;
}



.fa-star {
    font-size: 0.9em;
}

.st-blue {
    color: var(--primary);
}

.st-grey {
    color: var(--grey);
}

/* Responsive*/

@media screen and (max-width: 400px) {
    #lodgingContainer {
        flex-direction: column;
        justify-content: space-between;
    }

    #lodgingGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }

    #activitiesGrid {
        height: auto;
        flex-direction: column;
    }

    .activities1 {
        width: 100%;
        flex-direction: column;
    }

    .activities2 {
        flex-direction: column;
    }
}
/* -----RESPONSIVE----- */
// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
    .container {
        width: 1200px;
        margin: auto;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
    }
}

/* General styling */

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.bg-main {
    background-color: var(--background);
}

.t-light {
    font-weight: 300;
}

.t-bold {
    font-weight: 700;
}


.icon-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.icon-wrapper-sm {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
    line-height: var(--icon-size-sm);
}



.img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.img-wrapper img{
    height: auto;
    text-align: center;
    object-fit: cover;
}

.img-wrapper-horizontal {
    width: 110px;
    height: 120px;
    border-radius: 15px 0 0 15px;
}

.img-wrapper-vertical {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}

.mb-0 {
    margin-bottom: 0;
}

.t-center {
    text-align: center;
}
