:root {
    --primary: #0065fc;
    --secondary: #deebff;
    --grey: #d9d9d9;
    --background: #f2f2f2;
    --main-padding: 14px;

    --icon-size: 40px;
    --icon-size-sm : 20px;

    --border-nav-link: 4px solid var(--grey);
    --border-nav-link-active: 4px solid var(--primary);
    --card-padding: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    overflow-x: hidden !important;
}

header {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    display: flex;
}

main {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
    width: 100%;
}

ul {
    margin: 0;
    padding-left: 0;
}

ul li {
    list-style-type: none;
}

.container {
    padding: var(--main-padding);
}

.container-no-padding {
    padding: 0;
}

/* ---------- */
.navigation {
    width: 100%;
    display: flex;
}

.nav-link {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--primary);
    border-bottom: var(--border-nav-link);
}

.nav-link-active {
    border-bottom: var(--border-nav-link-active);
}

.navigation .nav-link {

}

#logo {
    order: 1;
}

nav{
    order: 3;
}

#signup {
    width: 150px;
    order: 2;
}



/* Search bar */

#searchbar {
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.fa-map-marker-alt {

}

#searchField {
    border: none;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
}

#searchButton {
    border: none;
    border-radius: 0 15px 15px 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: var(--primary);
}

/* Filtres */

#filtersBlockWrapper {
    display: inline-block;
    margin-bottom: 1em;
}

.filterWrapper {

}

.filter {
    margin: 8px 1em 8px 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    border: 2px solid lightgrey;
}

.filter-wrapper {
    display: block;
    position: relative;
    top: -2px;
    left: -2px
}

.filter-icon {
    padding: 0;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    text-align: center;
    border-radius: 25px;
    color: var(--primary);
    background-color: var(--secondary);
}

.filter-icon:hover {
    color: #fff;
    background-color: var(--primary);
}

.filter-text {
    padding: 0 10px;
    font-weight: bold;
}

/* ---------- */

.fas {
    width: 100%;
    height: 100%;
}
.fa-info {
    line-height: var(--icon-size-sm);
    text-align: center;
    font-size: 12px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    color: var(--primary);
    background-color: #fff;
}

/* Cartes */

.card {
    margin-top: 16px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.card-padding {
    padding: var(--card-padding);
}

.card-horizontal {
    flex-direction: row;
}

.card-vertical {
    flex-direction: column;
}

.card-solo {
	height:100%;
}

.card-solo .img-wrapper-vertical {
	height: calc(100% - 47px);
}

.card-content {
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging-note .fas{
    display: inline;
}

/* Lodgings container */

.lodgings-container-responsive {
    display: flex;
    flex-direction: column;
}

/* Footer */

#footerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: block;
    flex-grow: 1;
}

.footer-links ul li {
    background-clip: content-box;
}

.footer-links ul li a {
    margin-top: 1em;
    display: inline-block;
}



.fa-star {
    font-size: 0.9em;
}

.st-blue {
    color: var(--primary);
}

.st-grey {
    color: var(--grey);
}

/* General styling */

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.bg-main {
    background-color: var(--background);
}

.t-light {
    font-weight: 300;
}

.t-bold {
    font-weight: 700;
}

.d-sm {
    display: inherit;
}

.d-sm-none {
    display: none;
}

.m-0 {
    margin: 0;
}

.w-50-md {
    width: 100%;
}


.icon-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.icon-wrapper-md {
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size-md);
}

.icon-wrapper-sm {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
    line-height: var(--icon-size-sm);
}

#map-marker {
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
}

.img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.img-wrapper img{
    height: auto;
    max-height: 100%;
    width: 100%;
    text-align: center;
    object-fit: cover;
}

.img-wrapper-horizontal {
    width: 110px;
    height: 120px;
    border-radius: 15px 0 0 15px;
}

.img-wrapper-vertical {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}

.mb-0 {
    margin-bottom: 0;
}

.t-center {
    text-align: center;
}

/* -----RESPONSIVE----- */
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .d-sm {
        display: none;
    }

    .d-sm-none {
        display: inherit;
    }

    .w-50-md {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .container {
        width: 992px;
        margin: auto;
    }

    .container-no-padding {
        width: 992px;
        margin: auto;
    }

    .lodgings-container-responsive {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .lodgings-container-responsive .container {
        width: auto;
        padding: 10px 30px 30px;
    }

    #lodgings {
        width: 63%;
        background-color: var(--background);
        border-radius: 20px;
    }

    #lodgings .cards-container {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #lodgings .card {
        width: 30%;
    }

    #lodgings .card:nth-of-type(1),.card:nth-of-type(2),.card:nth-of-type(3) {
        margin-top: 0;
    }

    #popular {
        width: 33%;
        border-radius: 20px;
    }

    #popular .cards-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #popular .card:first-of-type {
        margin-top: 0;
    }

    #activities {

    }

    #activities .cards-container {
        display: flex;
        flex-direction: column;
    }

    #activities .cards-group-1 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #activities .cards-group-2 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    #activities .card {
        width: 100%;
        flex-grow: 1;
    }

	#activities .img-wrapper-vertical {
        height: 200px;
    }

    #activities .card-solo .img-wrapper-vertical {
        height: calc(100% - 40px);
    }

    #footerWrapper {
        flex-direction: row;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
    }

    .container-no-padding {
        width: 1200px;
        margin: auto;
    }

    #activities .cards-container {
        display: flex;
        flex-direction: row;
        height: 500px;
    }

    #activities .cards-group-1 {
        width: 50%;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
    }

    #activities .cards-group-2 {
        width: 50%;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    }

}
